// p-{name}-{sub-name}

// 메인 텍스트 영어
.p-main-textEng
  font-size 18px
  font-weight 700
// 메인 텍스트 한국어
.p-main-textKor
  font-size 20px
  font-weight 700

// 카드 소제목
.p-card-subtitle
  font-size 14px
// 카드 제목
.p-card-title
  font-size 16px
// 카드 설명
.p-card-info
  font-size 12px
// 카드 가격 텍스트
.p-card-price
  font-size 14px
// 카드 좋아요 아이콘
.p-icon-like
  font-size 16px
// 카드 좋아요 텍스트
.p-icon-likeText
  font-size 16px
  margin-left 4px


// 카드 소제목
.p-card-subtitleSmall
  font-size 12px
// 카드 제목
.p-card-titleSmall
  font-size 16px
// 카드 설명
.p-card-infoSmall
  font-size 12px
// 카드 가격 텍스트
.p-card-priceSmall
  font-size 16px 
// 카드 좋아요 아이콘
.p-icon-likeSmall
  font-size 16px   
// 카드 좋아요 텍스트
.p-icon-likeTextSmall
  font-size 14px
  margin-left 4px

// 상세내용 금액
.p-detail-price
  font-size 20px

/* 상품문의, 상품후기 */
// 문의 내용
.p-inquiry-main
.p-review-main
  font-size 16px
  margin-bottom 12px
  // 문의 작성자, 날짜 등
.p-inquiry-sub
.p-review-sub
  font-size 14px
// 답변상태
.p-inquiry-state
.p-review-state
  font-size 14px
  margin-bottom 6px

// 게시판
.p-board-title
  font-size 22px
  font-weight 500
  padding-top 20px
  margin-bottom 6px
.p-board-date
  font-size 14px
.p-board-content
  margin-top 40px
  font-size 16px

// 카드 그림자
.card-shadow
  box-shadow rgba(170, 170, 170, 0.16) 0px 5px 20px 0px


// 목록 결과 없을때
.empty-view
  padding 80px 0
  font-size 14px
  text-align center


.p-pc-title
.p-pc-modal-title
  font-size 20px
  font-weight 600
  text-align center

.p-pc-title
  margin 40px 0 32px

.p-pc-modal-title
  margin-bottom 32px


// 새글 표시용 점
.dot-new
  background-color #FF5D5D
  width 4px
  height 4px
  border-radius 100%