// Spoqa Han Sans
@import url(./SpoqaHanSans.css);

// Noto Sans CJK kr
@import url(./NotoSansCJKkr.css);

// Noto Sans KR
@import url(./NotoSansKR-Hestia.css);

// Nanum Gothic
@import url(./NanumGothic.css);

// 배민 폰트
@import url(./BaminFont.css);

// 아리따 폰트
@import url(./AritaBuri.css);
@import url(./AritaDotum.css);

// S-Core Dream
@import url(./SCDream.css);

// 고도체
@import url(./Godo.css);