// p-{name}-{sub-name}

/*
  제목
  부제목
  라벨
  본문
  경고문
  헤더 제목
  버튼 글씨
 */

// 목록 카운트
.n-list-title
  font-size 13px

// 카드 대제목
.n-card-title
  font-size 20px

// 카드 중제목
.n-card-mid-title
  font-size 15px

// 카드 소제목
.n-card-sub-title
  font-size 13px

// 카드 설명
.n-card-desc
  font-size 12px

// 상세 설명
.n-detail-desc
  font-size 13px

// 일반 버튼 텍스트
.n-button
  font-size 15px

// 팝업 제목
.n-modal-title
  font-size 15px
  text-align center
  margin-bottom 20px

// 팝업 내용
.n-modal-content
  font-size 13px

// 팝업 설명
.n-modal-desc
  font-size 11px
  text-align center


// 아이콘 크기
.n-icon
  font-size 24px
.n-icon-small
  font-size 19px


// 원형 아이콘 버튼
.n-icon-circle
  border-radius 50%
  font-size 19px
  height 19px
  background white
  box-shadow 0 5px 20px 0 rgba(44, 39, 39, 0.16)


.ic-img
  width 48px
  height 48px